.login-container {
  width: 25%;
  height: auto;
  right: 50%;
  bottom: 60%;
  transform: translate(50%,50%);
  position: absolute;
}

.logo {
  width: 35%;
  height: auto;
  display: block;
  margin: auto;
}

.login-input {
  background: transparent;
  border-color: black;
}