.backlogContainer {
  width: 70%;
  height: auto;
  right: 50%;
  transform: translate(50%);
  position: absolute;
}
h4 {
  color: #A25E5D;
}
hr {
  border-color: black;
}
span #addButton, span #removeButton {
  padding: 0px;
  color: #A25E5D;
  text-decoration: none;
  outline:none;
  border: none;
  box-shadow: none;
}
#taskslist {
  list-style-type: none;
  padding: 0px;
  vertical-align: middle;
}
.sprint #taskName {
  text-decoration: none;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}
ul>.row:hover {
  color: white;
  background-color: #A25E5D;
  cursor: pointer;
}
.backlog .completed{
  color: grey;
  font-style: italic;
  text-decoration: line-through;
}

/*Modal*/
.modal-container {
  position: relative;
  height: 200px;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}
