/* Red button */
.btn.btn-default {
  background-image: none;
  background-color: #A25E5D;
  color: #ffffff;
  text-shadow: none;
  border-color: #A25E5D;
  box-shadow: none;
}

.btn.btn-default:hover {
  background-image: none;
  background-color: #8D413F;
  border-color: #8D413F;
  color: #ffffff;
}

.btn.btn-default:hover:active {
  background-image: none;
  background-color: #713938;
  border-color: #713938;
  color: #ffffff;
}

/* White button */
.btn.btn-primary {
  background-image: none;
  background-color: #ffffff;
  color: #A25E5D;
  text-shadow: none;
  border-color: #A25E5D;
  box-shadow: none;
}

.btn.btn-primary:hover {
  background-image: none;
  background-color: #E5DAD6;
  border-color: #905d5b;
  color: #905d5b;
}

.btn.btn-primary:active {
  background-image: none;
  background-color: #CDB8B7;
  border-color: #704a4a;
  color: #704a4a;
}

.mainContainer {
  padding-top: 150px;
}

.registerContainer {
  padding-top: 100px;
}

.header-label {
  color: #A25E5D;
}

.header-line {
  border-color: black;
}

.tiein-container {
  width: 65%;
  height: auto;
  right: 50%;
  transform: translate(50%);
  position: absolute;
}
