/* Red button */
.btn.btn-default {
  background-image: none;
  background-color: #A25E5D;
  color: #ffffff;
  text-shadow: none;
  border-color: #A25E5D;
  box-shadow: none;
}

.btn.btn-default:hover {
  background-image: none;
  background-color: #905d5b;
  border-color: #905d5b;
  color: #ffffff;
}

.btn.btn-default:hover:active {
  background-image: none;
  background-color: #704a4a;
  border-color: #704a4a;
  color: #ffffff;
}

/* White button */
.btn.btn-primary {
  background-image: none;
  background-color: #ffffff;
  color: #A25E5D;
  text-shadow: none;
  border-color: #A25E5D;
  box-shadow: none;
}

.btn.btn-primary:hover {
  background-image: none;
  background-color: #ffffff;
  border-color: #905d5b;
  color: #905d5b;
}

.btn.btn-primary:active {
  background-image: none;
  background-color: #ffffff;
  border-color: #704a4a;
  color: #704a4a;
}

.mainContainer {
  padding-top: 150px;
}
